body {
  position: relative;
}

body canvas{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

body > div{
  color: white;
  z-index: 2;
  position: relative;
}

text {
  fill: white;
  font-size: 0.5em;
}
svg {
  position: relative;
  top: 0;
  left: 0;
  transition: 2s;
  transform-origin: left top;
}

svg:hover {
  transform: rotateZ(-90deg);
}
